// Spacing
// ================================================================================================
.mb-4 {
    margin-bottom: 1rem;
}

.mb-28 {
    margin-bottom: 7rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.mt-36 {
    margin-top: 9rem;
}

// Hide or show stuff
// ================================================================================================
.hide {
    display: none !important;
}

.show {
    display: flex !important;
}

// Transforms
// ================================================================================================
.rotate {
    transform: rotate(180deg);
}